# Игнорировать все файлы и папки
*

# Включить отслеживание package.json
#!package.json
!.gitignore

# /--/ ReportService.ts
!/src/
#!/src/index.ts
!/src/era/
!/src/era/rt_labs/
!/src/era/rt_labs/services/
!/src/era/rt_labs/services/ReportService.ts

# Отслеживание всего внутри папки src/era/rt_labs/services/
#!/src/era/rt_labs/services/**

